*{
    font-family: monospace;
}
    body{
    margin: 0;
    font-size: 15px;
    background-color: #f0f8ff;
}
header{
    background-color: #2196f3;
    color: white;
    height: 100vh;
    align-content: center;
    padding-left: 500px;
}
.button{
     height: 40px;
     width: 140px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}
.button:hover{
    background-color: blue;
    color: white;
}
header h1{
    margin: 0;
    color: white;
}
h1{
    color: #2196f3;
    font-size: 40px;
}
img{
    height: 200px;
}
section{
    height: 97vh;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submit:hover{
    color: white;
    background-color: #2196f3;

}
.submit{
    cursor: pointer;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #1178cd;
}
input{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 24px;
}
.fixedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height:70px ;
    width: 70px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #2196f3;
    cursor: pointer;

}
footer{
    height: 150px;
    background-color: black;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#formMessage{
    margin-top: 10px;
    font-weight: bold;
}